<h1>Home Page</h1>
<p>This is a demo app for a REST API, this API is authencated with token</p>
<hr>
<h2>Need permission for following API call</h2>
<p> With GET request to http://127.0.0.1:8000/datalist/, you can get list of data from DB</p>
<p> With POST request to http://127.0.0.1:8000/datalist/, you add more data to the list</p>

<h2>Don't need permission for following API call</h2>
<p>With and ID, you get perform GET, PUT, DELETE request to the data, http://127.0.0.1:8000/editier2/id</p>

<hr>
<h2>Don't need permission for following API call</h2>
<p> With GET request to http://127.0.0.1:8000/jobflow/, you can get list of data from DB</p>
<p> With POST request to http://127.0.0.1:8000/jobflow/, you add more data to the list</p>
<p>With and ID, you get perform GET, PUT, DELETE request to the data, http://127.0.0.1:8000/jobflow/id</p>